
.table-container .title {
    /* display: flex; */
    /* font-size: 1.2rem; */
    /* gap: 300px;
    text-align: left; */
    color: rgb(18, 101, 196);
    
}
.table-container{
    width: 500px;
    margin-top: -20px;

}
/* .table-container .table-row {
    display: flex;
    gap: 250px;
    margin-top: 10px;
} */

/* .table-container h3 {
    font-size: 1.5rem;
}

.table-container h4 {
    font-size: 1.3rem;
} */