@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: rgb(187, 187, 187); 
  padding-bottom: 50px;
}

table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 100%;
  font-size: 1.5rem;
}
/* th{
  font-size: 2rem;
} */

tr:nth-child(even) {
  background-color: #dddddd;
}

